body {
    font-size: 1.3em;
}
#logo {
    max-height: 100px;
    max-width: 100px;
    margin: 0 auto;
}
body > div > div.header.clearfix{
    margin-bottom: 0;
}
.header {
    text-align: center;
    background-color: #ff3a22;
    padding-top: 1.2em;
    margin-bottom: 0;
}

#initialSpan h3 {
    text-align: center;
    /*margin: .2em;*/
    margin: 0;
}

#deliverySpan,
#doughSpan,
#pizzaSizePricesSpan,
#toppingsSpan,
#orderAndBillingSpan,
#orderDetails {
    display: none;
}

#orderDetails {
    min-width: 13em;
    /* min-height: 5em; */
    padding: 0 em;
    text-align: right;
    /* border: 1px black solid; */
    /* float: right; */
}

#deliveryOtherAddress,
#billingOtherAddress {
    display: none;
}

#deliverySpan span,
#billingNameError,
#billingNameError,
#billingAddressTypeError,
#billingStreetAddressError,
#billingCityError,
#billingStateError,
#billingZipError, #creditCardNumberError, #billingCvcError,
#billingExpirationDateError {
    color: red;
}

table {
    margin:  auto;
    /*margin-left: 13.5em;*/
}
#extraToppingsSpan > table{
    /* margin-left: 13.5em; */



}
#extraToppingsSpan > table > tbody > tr:nth-child(1) > th:nth-child(2) > p{
    margin-bottom: 0;
}
/*Toppings Labels*/
#extraToppingsSpan > table > tbody > tr:nth-child(1) > th:nth-child(1) > label{
    margin-right: 1.1em;

}
#pepperoni,
#sausage,
#ham,
#bacon,
#bacon,
#salami,
#peppers,
#olives,
#jalapenos,
#mushrooms,
#pineapple,
#onion {
    float: right;
    margin-bottom: .5em;
    margin-right: 1.5em;
}

#toppingOneOrderDetails,
#toppingTwoOrderDetails,
#toppingThreeOrderDetails,
#toppingFourOrderDetails,
#toppingFiveOrderDetails,
#toppingSixOrderDetails,
#toppingSevenOrderDetails,
#toppingEightOrderDetails,
#toppingNineOrderDetails,
#toppingTenOrderDetails,
#toppingElevenOrderDetails {
    display: none;
}

.container .jumbotron {
    padding: 0;
}

#initialSpan > div > img {
    height: auto;
    max-width: 100%;
     /* display: block;   */
      position: relative; 
     /* position: absolute;     */
    top: 0%;
    left: 0%;
}


body > div > div.header.clearfix > img {
    /* float: left; */
    height: auto;
    max-width: 100%;
}

.jumbotron {
      position: relative;  
     /* display: inline-block;  */
    /*margin: auto 0;*/
}
.textCenter h2{ 
    /* position: absolute;  
    bottom: 20px; */
     /* top: 20px; */
     /* z-index: 1; */

}
.positionText {
    position: absolute;  
    top: 40px;
    margin-left: 27em;
    /* left: 400px;
    right: 400px;   */
    z-index: 1;

}
.text-block {
     /* position: absolute;  
     top: 40px;   */
     left: 0;
     right: 0;
     /* width: 95%; */
     text-align: center; 
     /* margin-left: 11em;  */
    /*margin-right: .9em;*/
    background-color: black;
    padding: 0 1em;
    /* z-index: 1; */
}

h1 {
    font-size: 5em;
    background-color: black;
    font-weight: bold;
    border: solid 5px white;
    color: white;
}

h2 {
    font-weight: bold;
    font-size: 2.8em;
    color: white;
}

h3 {
    margin-top: 0;
    font-size: 2em;
    font-weight: bolder;
}

h4 {
    font-size: 1.7em;
}

#doughSpan {
    /* padding-left: 5.9em; */
    margin-bottom: .7em;
    padding-bottom: 2em;
}

/*HR*/
#toppingsSpan > hr:nth-child(11) {
    margin-top: 1.5em;

}

#pizzaSizePricesSpan,
#finishBuildingPizza {
    clear: both;
}

label {
    /* width: 30%; */
    height: 1.5em;

}
/*OPTIONAL APART. NUM LABEL*/
#deliverySpan > label:nth-child(15){
    /*width: 100%;*/
    /*font-size: 1em;*/

}
.selectionLabels {
    width: 30%;
    display: inline-table;
    text-align: left;
}

input[type="text"],
input[type="tel"],
input[type="email"],
select,
#deliveryOtherAddress #deliveryAddressKind {
    width: 15em;
    margin-bottom: .7em;
    margin-right: 1em;
    border: 1px solid #d1d1d1;
    padding: .3em;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 1.3em;
}

#pizzaSizePrices,
#cheeseOptions,
#sauceOptions {
    padding-left: .5em;
}

#deliveryAddressType,
#billingAddressType {
    padding-left: 2em;
}

#expirationDate {
    padding-left: 5em;
}

input[type="button"],
#submitOrder {
    text-align: center;
    font-size: 1.3em;
    padding: .4em;
    background-color: black;
    border: solid 2px #d3b32a;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

input[type="button"]:hover,
#submitOrder:hover,
input[type="button"]:focus,
#submitOrder:focus {
    background-color: #f9d643;
    border: solid black 2px;
    border-radius: 5px;
    color: black;
}

.footer {
    background-color: #ff3a22;
    text-align: center;
    padding-bottom: .3em;
}

.footer p {
    color: white;

}